table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 10px;
  }